<html>
<head><title>Search Employee</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        
        <style>
              .clear{margin:18px 0 0 0;}
              .footer {
    position: fixed;
    left: 0;
    bottom: 20;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;}
              </style></head>







<body>
    <div class="container-fluid">
        <div class="jumbotron text-center"style="background-color:#00F3FF"><h1 class="text-white" style="font-weight:600px">Search Employee</h1></div></div>
        <div class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Empid:</label><input id="id1"class="form-control"name="empid">
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <button id="btn1" class="btn btn-info">
            Search
        </button>
    </div>
    <script>

       

            $("#btn1").click(function(){
                   $.ajax({
                       
                       url: "./savedata",
                       type:'POST',
                       headers: {'X-CSRFToken': '{{ csrf_token }}'},
                       data:{ empid: $('#id1').val()},
                        success: function(result){
         
                      $("#div1").html(result);
                   }});
               })
   
           </script>
<div class="clear"></div>
<div id="div1"></div>

<div class="footer">
        <div class="clear"></div>
            <div class="container-fluid">
                <table width=100% >
                    <tr><td align="center">
             <form action="insert" method="POST">
                     {% csrf_token %}    
                 <button class="btn btn-primary"id="b1">Insert</button></form></td><td align="center">
             <form action="delete" method="POST">
                     {% csrf_token %}    
                 <button id="b2" class="btn btn-primary">Delete</button></form></td><td align="center">
             <form action="update" method="POST">
                     {% csrf_token %}
                 <button id="b3" class="btn btn-primary">Update</button></form></td><td align="center">
             <form action="show" method="POST">
                     {% csrf_token %}
                 <button id="b4" class="btn btn-primary">Show</button></form></td><td align="center">
                                <form action="show" method="POST">
                                                {% csrf_token %}
                 <button id="b5" class="btn btn-primary"onclick="alert('Hello world')">Search</button></form></td><td align="center">
                        <form action="/employee/" method="POST">
                                {% csrf_token %}
                        <button type="submit"class="btn btn-primary">Back</button></form>
                 </td></tr></table>
                 </div>
        </div>
        
</body>
</html>